@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1536px) {}

@media screen and (max-width: 1024px) {
    .nav__list {
        max-width: 200px;
    }

    main {
        gap: 20px;
    }

    .App__home {
        .container {
            padding: 0 10px 0 0px !important;
        }
    }
}

@media screen and (min-width: 768px) {
    .header__container--MAC {
        display: none !important;
    }

    .App__header {
        height: 88px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    #videoPage {
        margin-top: 15px;
        height: 275px;
    }

    .App__header {
        height: 50px;
    }

    .MenuMobile {
        display: block;
    }

    .Home__Sliders {
        margin-top: 28px;
    }

    .header__box {
        padding: 0 !important;
    }

    .header__container--mobile {
        display: flex !important;
        gap: 0px; 
        align-items: center;
    }

    .header__container {
        display: none !important;
    }

    .App__nav, .header__btn {
      display: none;
    }

    .header__menu-toggle {
        gap: 20px;
        max-width: 125px;
    }

    .header__search {
        justify-content: end;
    }

    .search__input {
        width: 45px;
        height: 45px;
        padding: 0;
        gap: 0;
        justify-content: center;
        
        input {
            width: 0;
            &::placeholder {
                color: transparent;
            }
        }
    }

    .Search {
        margin-top: 15px;
        height: 100vh;
        background-color: #0E1621;
        z-index: -50;

        .card__title {
            font-size: 12px !important; 
        }
    }

    .MenuMobile {
        z-index: 200;
    }

    main {
        gap: 0px;
    }

    .App__home {
        .container {
            padding: 0 10px !important;
        }
    }

    .modal__container {
        top: 55%;
    }
}

@media screen and (max-width: 640px) {
    .slider__card-bk {
        display: none !important;
    }

    .d-none {
        display: block !important;
    }

    .HeaderSlider {
        .slider {
            .slick-prev {
                top: 50% !important;
                left: 25px !important;
                transform: translateY(-50%) rotate(180deg) scale(1)  !important;   
            }
        
            .slick-next {  
                top: 50% !important; 
                right: 25px;
                transform: translateY(-50%) scale(1) !important;
            }
        }   
    }

    .modal__container {
        max-width: 500px;
    }

    .modal__btn {
        top: 20px;
    } 

    .modal__image {
        max-width: 500px;
        background-size: contain;
    }

    .modal__container {
        top: 60%;
    }
}

@media screen and (max-width: 550px) {
    .App__header {
        height: 45px !important; 
    }

    .header__box {
        padding: 10px;
    }

    .App__header {
        height: 62px;
        padding: 10px;
    }

    .HeaderSlider {
        margin-top: 6px;
    }

    .Home__Sliders {
        margin-top: 23px;
    }

    .Card {
        width: 120px;
        
        .card__image {
            width: 120px;
            height: 180px;
        }
    }
 
    .modal__container {
        max-width: 400px;
    }

    .modal__btn {
        top: 30px;
    }

    .modal__image {
        max-width: 400px;
    }

    .navigation__title {
        margin-top: 8px;
    }

    .slick-arrow {
        top: 10px !important;
        padding: 4px !important;
        width: 32px !important;
        height: 32px !important;

        &::before {
            width: 24px !important;
            height: 24px !important;
        }
    }

    .card__content {
        .card__title {
            margin-top: 4px;
            line-height: 100%;
        }
    }
}

@media screen and (max-width: 475px) {
    .modal__container {
        max-width: 300px;
    }

    .modal__btn {
        top: 40px;
    }

    .modal__image {
        max-width: 300px;
    }

    .modal__container {
        top: 63%;
    }

    .Home__Sliders {
        margin-top: 10px;
    }

    #videoPage {
        height: 203px;
    }
}

@media screen and (max-width: 370px) {
    .mobile__nav {
        a {
            max-width: 60px;
            height: 60px;
            padding: 5px;

            svg {
                width: 20px;
                height: auto;
            }

            h3 {
                font-size: 10px;
            }
        }
    }

    .modal__container {
        max-width: 250px;
    }

    .modal__btn {
        width: 18px;
        height: 18px;
        top: 60px;
        overflow: hidden;

        img {
            width: 18px;
            height: 18px;
        }
    }

    .modal__image {
        max-width: 250px;
    }

    .modal__container {
        top: 67%;
    }
}

@media screen and (max-width: 330px) {
    .Slider__cards {
        gap: 12px;
    }

    .Home__Sliders {
        margin-top: 15px;
    }

    .Slider__navigation {
        height: 100%;
    }

    .navigation__title {
        margin-top: 8px;

        .title {
            font-size: 20px;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 290px) {
    .slick-prev {
        right: 35px !important;
    }

   .navigation__title {
        margin-top: 8px;

        .title {
            font-size: 18px;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

@media screen and (max-width: 265px) {
   .navigation__title {    
        .title {
            max-width: 120px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis !important;
            overflow: hidden !important;
        }
    }
}