@media screen and (max-width: 1024px) {
    .nav__list {
        max-width: 200px;
    }

    main {
        gap: 20px;
    }

    .App__home {
        .container {
            padding: 0 10px 0 0px !important;
        }
    }
}

@media screen and (max-width: 735px) {
    .App__nav, .header__btn {
      display: none;
    }

    .header__menu-toggle {
        gap: 20px;
        max-width: 125px;
    }

    .header__search {
        justify-content: end;
    }

    .search__input {
        padding: 0;
        gap: 0;
        justify-content: center;
        background-color: transparent;
        width: 50px;

        &:hover {
            padding: 0 24px;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: #17212B;

            svg {
                transition: 0 !important;
            }

            input {
                width: 100%;
                &::placeholder {
                    color: #768C9E; 
                }
            }
        }
        
        input {
            width: 0;
            &::placeholder {
                color: transparent;
            }
        }
    }

    main {
        gap: 0px;
    }

    .App__home {
        .container {
            padding: 0 10px !important;
        }
    }
}
