.App__nav {
    max-width: 249px;
    width: 100%;
    height: 100vh;
    background-color: #0E1621;
    padding-left: 8px;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.menu__container {
    width: 100%;
    display: flex;
    flex-direction: column;
} 

.drop__item {
    padding: 10px;
    border-radius: 10px;
    color: #768C9E !important; 
    transition: 0.140s linear;
    border-radius: 10px;
    
    &:hover {
        background-color: #17212B;
    }
}

.drop__list {
    width: 0;
    height: 0;
    // overflow: hidden;
    transform: scale(0, 0);
    transition: 5s ease-in-out;
}

.drop__list--active {
    width: 100%; 
    height: 100%;
    transform: scale(1, 1);
    transition: 5s ease-in-out;
    padding: 10px;
}

.App__nav--active {
    max-width: 84px; 
    width: 100%;
    overflow: hidden;
    transition: all .5s ease-in-out;
    align-items: flex-start;
    
    .drop__item {
        display: none;
    }
}

.list__item--active {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0 !important;
    overflow: hidden;

    .image__box {
        display: none;
    }
    
    .list__link {
        border-radius: 10px !important;
    }

    .toggle__arrow {
        display: none !important;
    }

    h3 {
        font-size: 14px;
    }
}

.nav__line--active {
    width: 60px !important;
}

.nav__list {
    display: flex;
    flex-direction: column;
    position: relative;

    .nav__line {
        max-width: 200px;
        width: 100%;
        height: 1px;
        background-color: #768C9E;
        margin: 20px auto;
        transition: .5s ease-in-out;
    }
}

.list__box--active {
    flex-direction: column;
    gap: 5px !important;
    transition: all .5s ease-in-out;
}

.list__box {
    display: flex;
    align-items: center;
    max-width: 48px + 61px;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
    transition: all .5s ease-in-out;

    .icons {
        color: green !important;
    }

   
}

.list__item {
    width: 100%;
    display: flex;
    border-radius: 10px;
    transition: 0.140s linear;
   
    h3 {
        display: block;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #768C9E;
    }    
}

.image__box {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    transition: 0.140s linear;

    img {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: #17212B;
    }

    .toggle__arrow {
        transform: rotate(0deg);
    }

    .toggle__arrow--actve {
        transform: rotate(180deg);
    }
}

.list__linkBoder {
    border-radius: 10px !important;
}

.toggle__arrow {
    display: block;
    width: 24px;
    height: 24px;
    user-select: none;
}

#borderActive {
    border-radius: 10px 0 0 10px;
}

.list__link {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.140s linear;

    &:hover {
        background-color: #17212B;
    }

    img {
        width: 24px;
        height: 24px;
    }

    h3 {
        display: block;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #768C9E;
    }
}   

.famous__filems {
    .list__item {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 10px;
        transition: 0.140s linear;

        &:hover {
            background-color: #17212B;

            #Union {
                stroke-width: 3 !important;
            } 
        }

        svg {
            width: 24px;
            height: 24px;  
        }

        #Union {
            stroke-width: 1.5 !important;
            transition: .2s linear;
        }

        img {
            width: 24px;
            height: 24px;
        }

        h3 {
            display: block;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            color: #768C9E;
        }   
    }
}

.famous__filems--active {
    display: none;
}