.HeaderSlider {
    width: 100%;

    .slider {
        position: relative !important;
        overflow: hidden;

        &:hover {
            .slick-next {
                transform: translateY(-50%) scale(1, 1) !important;
                right: 16px;
            }

            .slick-prev {
                transform: translateY(-50%) rotate(180deg) !important;
                left: 16px !important;
            }
        } 

        .slick-arrow {
          background-color: #7d7b7b87;
          transition: .2s ease-in-out;

          &:hover {
            background-color: #2b2a2a63;
          }
        }

        .slick-dots {
            display: flex !important;
            align-items: center;
            gap: 10px;
            // border: 1px solid #d00; 
            position: absolute !important;
            bottom: 11px !important;
            left: 50% !important;
            transform: translateX(-50%) !important;

            .slick-active {
                // display: none !important;
                opacity: 1;
                transform: rotate(-30deg);
                transition: .3s linear !important;
            }
            
            li {
                display: block !important;
                width: 4px !important;
                height: 4px !important;
                border-radius: 0 !important;
                background-color: #fff;
                opacity: 0.45;
                transition: .3s linear !important;
                
                button {
                    display: block !important;
                    color: transparent !important; 
                    font-size: 0;
                    user-select: none;
                    border: 0;
                    outline: 0;
                    background-color: #fff;
                    opacity: 0.45;
                }
            }
        }

       

        .slick-prev {
            position: absolute !important;
            top: 50%;
            left: -50px !important;
            transform: translateY(-50%) rotate(180deg) scale(0, 0)  !important;
            z-index: 5;
            
            &::before {
                content: url('../../../public/images/svg/card-arrow__icon02.svg');
            }       
        }
    
        .slick-next {
            position: absolute;  
            top: 50%;
            right: -25px;
            transform: translateY(-50%) scale(0, 0);
            
            &::before {
                content: url('../../../public/images/svg/card-arrow__icon02.svg');
            }
        }

        .slick-list {
            .slick-track {
                gap: 2px;
            }
        }
    }
}

.slider__card {
    max-width: 1440px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: auto;

    &:hover {
        .slider__card-bk {
            transform: scale(1.009,1.009);
        }
    }   

    .d-none {
        display: none;
    }
 }

.slider__card-bk {
    max-width: 1440px;
    width: 100%;
    border-radius: 10px;
    transition: .2s linear;
    object-fit: cover;
    object-position: center;
 }
