.slider__card {
    max-width: 1440px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: auto;

    &:hover {
        .slider__card-img {
            transform: scale(1.009,1.009);
        }
    }   
 }

 .slider__card-img {
    max-width: 1440px;
    width: 100%;
    border-radius: 10px;
    transition: .2s linear;
 }

 .HeaderSlider {
    width: 100%;

    .slider {
        position: relative !important;
        overflow: auto;
        // border: 1px solid #d00;

        .slick-arrow {
          background-color: #ffffff63;
        }

        .slick-prev {
            position: absolute !important;
            top: 50%;
            left: 16px !important;
            transform: translateY(-50%) rotate(180deg);
            z-index: 5;
            
            &::before {
                content: url('../../../public/images/svg/card-arrow__icon01.svg');
            }       
        }
    
        .slick-next {
            position: absolute; 
            top: 50%;
            right: 16px + 9px;
            transform: translateY(-50%);
            
            &::before {
                content: url('../../../public/images/svg/card-arrow__icon01.svg');
            }
        }
    }
 }