.Home__Sliders {
    margin-top: 48px;
}

.Sliders__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    // border: 1px solid #d00;
}

.navigation__title {
    display: flex; 
    align-items: center; 
    width: auto;

    .title {
        color: #fff;
        transition: .2s linear;
        font-size: 24px; 
    }

    svg {
        width: 24px;
        height: 24px;
        transition: .2s ease-in-out;

        path {
            transition: .2s linear;
        }
    }

    &:hover {
        .title {
            color: #5EB5F7FF;
        }

        svg {
            transform: translateX(10px);

            path {
                fill: #5EB5F7FF;
            }
        }    
    }
}

.Slider__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.Slider__navigation {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 44px;
}

.variable-width {
    overflow: hidden !important; 

    .slick-arrow {
        border: 0;
        outline: 0;
        background-color: #17212B;
        color: transparent;
        width: 42px;
        height: 42px;
        border-radius: 10px;
        top: 0;
        overflow: hidden;
        padding: 8px;
        user-select: none;   

        &::before {
            width: 32px;
            height: 32px;
        }
    }

    .slick-prev {
        position: absolute;
        right: 55px;
        transform: rotate(180deg);
        
        &::before {
            content:   url('../../../public/images/svg/card-arrow__icon02.svg');
        }       
    }

    .slick-next {
        position: absolute; 
        right: 5px;

        &::before {
            content: url('../../../public/images/svg/card-arrow__icon02.svg');
        }
    }
    
    .slick-list {
        .slick-track {
            width: 100%;
            overflow: hidden !important;
            display: flex !important;
            gap: 16px;
        }
    }
}