.Card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 194px;
    width: 100%;
    border-radius: 10px;
    position: relative; 
    cursor: pointer;
    transition: all .2s linear;
    
    &:hover {
        svg {
            path {
                fill: #FFBA33FF;
            }
        }

        .card__title {
            color: #5EB5F7FF;
        }
        
        h4 {
            color: #FFBA33FF;
        }
    }
}

.card__img { 
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    .card__logo {
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 5;
        right: 0px;
        top: 2px;
    }
    
    h4 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #fff;
        transition: .2s linear;
    }
    
    .card__image {
        height: 291px;
        border-radius: 10px;
        transition: .2s linear;
        transform: scale(1.03, 1.03);
    }

    &:hover {
        .card__image {
            transform: scale(1.05, 1.05); 
        }
    }
}

.card__reting {
    display: flex;
    align-items: center;
    gap: 4px; 
    width: 53px;
    padding: 2px 6px;
    border-radius: 10px;
    background-color: rgba(23, 33, 43, 0.65);
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;

    .card__icon {
        path {
            transition: .2s linear;
        }
    }
}

.card__content {
    width: 100%;

    .card__title { 
        margin-top: 8px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; 
        color: #fff;
        transition: .2s linear;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:  450px;
        width: 100%;
    }

    p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        color: #768C9E;
    }
}

.card--load {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
}