.App__home {
    margin-bottom: 80px;
}

#videoPage {
    // max-width: 846px !important;
    width: 100% !important;
    height: 475px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    // min-height: 476px !important;
} 