.App__home {
    margin-bottom: 80px;
}

// vaqtinchalik
.test--block {
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 8px 10px;
    width: 100%;
    background-color: red; 
    margin: 0 auto;
    z-index: 500;
    overflow: hidden;

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        color: #fff;
        white-space: nowrap;
        animation: marquee 20s linear infinite; 
        user-select: none;
    }

    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
}

#videoPage {
    width: 100% !important;
    height: 475px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    // min-height: 476px !important;
    // border: 1px solid #d00;
}

.VideoPlayer__content {
    display: flex;
    flex-direction: column;
}

.VideoPlayer__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 108.333% */
    color: #fff;
    margin-top: 12px;
}

.VideoPlayer__videos {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;

    button, a {
        border: 0;
        outline: 0;
        padding: 11px 32px;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        cursor: pointer;

        &:nth-child(1) {
            background-color: #fff;
            color: #000;
        }
        
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.VideoPlayer__column { 
    display: flex;
    gap: 45px;
    justify-content: space-between;

  

    .about__image {
        overflow: hidden;
    }

    .Card {
        max-width: 186px;
        width: 100%;
    }
}

.about__contetn {
    max-width: 805px;
    width: 100%;

    h1 {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 120% */
        background-clip: text;
    }

    .about__text {
        height: 100%;
    }

    .about__text--active {
        max-height: 2000px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .3s ease-in-out !important;
    }

    .text--hidden {
        display: none;
        margin-top: 8px;
        width: 100%;
        padding: 7px 5px;
        border: 0;
        outline: 0;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.05);

        .text00, .text01 {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            user-select: none;
            text-align: center;
            transition: .2s linear;
        }

        .d-none {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
            user-select: none;
            color: transparent;
            font-size: 10px;
        }
    }
}

.VideoPlayer__about {
    h2 {
        margin-bottom: 4px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        color: #768C9E;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        color: #fff;
    }
}