.App__home {
    margin-bottom: 80px;
}

.App__dramas {
    .Home__Sliders {
        &:nth-child(1) {
            margin-top: 0 !important;
        }
    }
}

.App__filems {
    .Home__Sliders {
        &:nth-child(1) {
            margin-top: 0 !important;
        }
    }
}

// vaqtinchalik
.test--block {
    position: fixed;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 8px 10px;
    width: 100%;
    background-color: red; 
    margin: 0 auto;
    z-index: 500;
    overflow: hidden;

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        color: #fff;
        white-space: nowrap;
        animation: marquee 20s linear infinite; 
        user-select: none;
    }

    @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
}

.Video__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    .video__serials {
        max-width: 193px + 10px;
        width: 100%;
        height: 476px;
        border-radius: 6px;
        border: 2px solid #17212B;
        background: #0E1621;
        padding: 18px 19px;
    }

    .video__serial--grids {
        margin-top: 18px;
        display: flex;
        max-height: 360px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        overflow: auto;

        &::-webkit-scrollbar {
            max-width: 3px !important; 
        }
         
        &::-webkit-scrollbar-track {
            background-color: transparent;   
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #768c9ea1;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            padding: 15px 0px;
            border-radius: 4px;
            background: #17212B;
            cursor: pointer;

            &.active {
                background-color: #0A83DF;
            }
    
            h1 {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px; /* 100% */
                color: #fff;
                user-select: none;
            }
        }
    }

    .video__movie--flex {
        margin: 18px 0 15px 0;
        display: flex;
        flex-direction: column;
        max-height: 400px;
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            max-width: 3px !important; 
        }
         
        &::-webkit-scrollbar-track {
            background-color: transparent;   
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #768c9ea1;
        }
        
        .movie__card {
            padding: 8px;
            display: flex;
            align-items: flex-start;
            gap: 9px;
            // overflow: hidden;
            cursor: pointer;
            border-radius: 10px;
            transition: .1s linear;
           
            &:hover {
                background-color: #17212BFF;
            }
            
            div {
                width: 114px;
                height: 60px;
                overflow: hidden;
            }
            
            .movie__title {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%; /* 19.6px */
                color: #768C9E;
            }

            img {
                width: 80px;
                height: auto;
                overflow: hidden;
                border-radius: 3px;
            }

        }
    }
    
    .video__searals--content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        h1 {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 122.222% */
            color: #fff;
        }

        p {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; /* 116.667% */
            color: #768C9E;
        }
    }
}

#videoPage {
    width: 100% !important;
    height: 476px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.VideoPlayer__content {
    display: flex;
    flex-direction: column;
}

.VideoPlayer__title {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 4px;

    h1 {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; /* 108.333% */
        color: #fff;
    }

    span {
        color: #768C9E;
    }
}

.Video__data {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 8px;

    .card__icon {
        width: 16px;
        height: 16px;

        path {
            fill: #FFBA33;
        }
    }

    .d-flex-data {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .Video__age, .Video__country {
        display: flex;
        padding: 2px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        background: #17212B;
    }

    .video__data-text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        color: #fff;
    }
    
    .video__data-textMin {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; 
        color: #fff;
    }
}

.VideoPlayer__column { 
    display: flex;
    gap: 25px;
    justify-content: space-between;
    // border: 1px solid #d00;

    .video__serials {
        max-width: 200px + 3px;
        width: 100%;
        // border: 1px solid #d00; 
    }
    
    .about__image {
        overflow: hidden;
    }
    
    .Card {
        max-width: 186px;
        width: 100%;
    }
}

.about__contetn {
    max-width: 900px;
    width: 100%;
    position: relative;
    // border: 1px solid #d00;
    
    .about__text {
        max-height: 55px;
        overflow: hidden;
        cursor: pointer;
        
    }

    .about__text--active {
        max-height: 2000px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .3s ease-in-out !important;
    }

    .text--hidden {
        display: flex;
        max-width: 137px;
        width: 100%;
        padding: 6px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 0;
        outline: 0;
        border-radius: 4px;
        background: rgba(14, 22, 33, 0.60);
        backdrop-filter: blur(2.5px);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        cursor: pointer;

        .text00, .text01 {
            color: #5EB5F7;
            font-size: 14px;
            font-style: normal;
            display: block;
            font-weight: 400;
            line-height: 18px;
            user-select: none;
            text-align: center;
            transition: .2s linear;
            text-overflow: ellipsis;
        }

        .d-none {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -5;
            user-select: none;
            color: transparent;
            font-size: 10px;
        }
    }
}

.VideoPlayer__about {
    max-width: 845px;
    width: 100%;
    margin-top: 26px;
    // border: 1px solid #d00;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    
    .hidden--block {
        max-width: 845px;
        width: 100%;
        overflow: auto;
    }

    .Video__actiors {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        max-width: 846px;
        overflow-x: auto;
      
        &::-webkit-scrollbar {
          height: 5px !important; 
          width: 150px !important;
        }
      
        &::-webkit-scrollbar-track {
          background-color: transparent;   
        }
        
        &::-webkit-scrollbar-thumb {
          width: 10px !important;
          border-radius: 8px;
          background-color: transparent;
        }
    }

    .actior__card {
        width: 85px;
        cursor: pointer;
        border-radius: 5px;
        user-select: none;

        .actior__box {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            width: 85px;
            height: 85px;
            // background-color: red;

            h1 {
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: -0.48px;
                color: #fff;
            }
        }

       img {
            width: 85px;
            height: 85px;
       }

        h2 {
            margin-top: 4px;
            text-align: center;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px; /* 100% */
            color: #fff;
        }

        p {
            margin-top: 4px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px; 
            color: #768C9E;
        }
    }

    h2 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        color: #768C9E;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        color: #fff;
    }
}

/// loading animtion style ///

.video--animtion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 475px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    background-color: #000;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  
    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
      &:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
      }
  
      &:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
      }
  
      &:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
      }
  
      &:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }