.popularNow__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container__cards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 16px;
}

.container__cards--load {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

@media screen and (max-width: 750px) {
    .container__cards {
        justify-content: center;
    }
}