.catigoriyPage {
    .container {
        padding: 0 10px;
    }
}

.popularNow__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.container__cards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px 16px;

    .Card {
        max-width: 180px;

        .card__image {
            width: 100%;
            height: auto;
        }
    }
}

.container__cards--load {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

@media screen and (max-width: 750px) {
    .container__cards {
        justify-content: center;
    }
}