// filter
.filter {
    width: 100%;
    @include tablet-640px {
        margin-top: 10px;
    }

    .container {
        margin: 0 auto;
    }
    
    &__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column; 
        gap: 30px;
       
    }

    &__clearer {
        @include tablet-640px {
            width: 100%;
        }

        button {
            display: flex;
            align-items: center; 
            justify-content: space-between;
            user-select: none;
            padding: 10px 20px;
            width: 225px;
            display: flex;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; 
            color: #768C9E;
            border: 0;
            outline: 0;
            border-radius: 12px;
            gap: 24px;
            background-color: #232E3C;
            cursor: pointer;
            @include tablet-640px {
                width: 100%;
            }

            svg {
                width: 20px;
                height: 20px;

                path {
                    fill: #768C9E;
                }
            }
        }
    }

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        color: #fff;
        @include tablet-640px {
            text-align: center;
        }
    }

    &__form {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;
       
        @include tablet-640px {
            gap: 12px;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    
    &__droper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
       
        @include tablet-640px {
            width: 100%;
        }
    }
    
    &__input {
        padding: 10px 20px;
        width: 195px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        background: #17212B;
        border-radius: 12px;
        gap: 0px;
       
        @include tablet-640px {
            width: 100%;
        }

        .filter__input__title {
            display: flex;
            align-items: center;
            gap: 3px;
           
        }

        .filter__text {
            width: 79px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: #768C9E;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        
        h1 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: #fff;
        }
        
        svg {
            width: 24px;
            height: auto;
            padding: 0 5px;
            transform: rotate(180deg);
            transition: .1s linear;
        }
    }
    
    &__dropDown {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        z-index: 50;
        border-radius: 12px;
        background: #17212B;
        cursor: pointer;
        overflow: hidden;
       
        @include tablet-640px {
            width: 100% !important;
        }
        
        .drop__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; 
            color: #fff !important;
            padding: 10px 20px;
            border-radius: 12px;
            border: 5px solid transparent;
            transition: .1s ease-in-out;
            user-select: none;

            svg {
                width: 20px;
                height: auto;

                path {
                    stroke: transparent;
                }
            }

            &:hover {
                border: 5px solid #17212B !important;
                background-color: #232E3C !important;
            }
        }

        .drop__item--active {
            background-color: #17212B;
            color: #5EB5F7 !important;
        
            &:hover {
                border: 5px solid #17212B;
                background-color: #232E3C;
            }
        
            svg {
                path {
                    stroke: #5EB5F7 !important; 
                }
            }
        }

        .drop__search__input {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 5px solid #17212B;
            background-color: #0E1621;
            border-radius: 18px;
            padding: 10px 20px;
            gap: 5px;
            cursor: text;
            
            input {
                width: 155px;
                outline: 0;
                margin: 0;
                border: 0;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                color: #fff;
                background-color: transparent;
                overflow: hidden;

                &::placeholder {
                    color: #768C9E;
                }
            }

            // Google and Safari
            input[type="number"]::-webkit-inner-spin-button {
                display: none;
            }

            // Firefox
            input[type="number"] {
                -moz-appearance: textfield;
            }

            .drop__search__btn {
                border: 0;
                padding: 0;
                margin: 0;
                background-color: transparent;
                cursor: pointer;
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .drop--active {
        transition: .2s ease-in-out;
        top: 50px;
        z-index: 50;
        opacity: 1;
    }
    
    .drop--none {
        transition: .2s ease-in-out;
        top: -30px;
        z-index: -100;
        opacity: 0;
    }

    .over--scroll {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            max-width: 3px !important; 
        }
         
        &::-webkit-scrollbar-track {
            background-color: transparent;   
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #768c9ea1;
        }
    }
}

.filter__body {
    margin-top: 30px;
    
    .container {
        margin: 0 auto;
        padding: 0 10px 0 40px;

        @include mobile {
            padding: 0;
        }
    }
}

.filter__cards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0px;

    @include mobile {
        justify-content: center;
    }
}

.error__container {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet-640px {
       height: 150px;
    }

    h1 {
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; 
        color: #fff;
    }
}