.Home__Sliders {
    margin-top: 48px;
    @include tablet-max {
        margin-top: 28px;
    }
    @include mobile-330px {
        margin-top: 15px;
    }

    .container {
        @include mobile {
            padding: 0 0 0 10px !important;
        }
    }
}

.sliders__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.undefined {
    padding: 0 5px !important;
    @include mobile-380px {
        padding: 0 6px !important;

        &:nth-child(1) {
            padding-left: 0 !important;
        }
    }
    
    &:nth-child(1) {
        padding-left: 0;
    }

    .card__reting {
        margin: 0 5px;
    }
}

.carousel__card-container{
    height: auto;
    display: flex;
    flex-direction: column-reverse;

    .notActive--btn {
        opacity: .6;
    }

    .active--btn {
        opacity: 1;
    }

    .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .slider__btn {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .slick-arrow {
        border: 0;
        outline: 0;
        background-color: #17212B;
        color: transparent;
        width: 42px;
        height: 42px;
        border-radius: 10px;
        top: 0;
        overflow: hidden;
        padding: 8px;
        user-select: none;   
        cursor: pointer;
        @include tablet-640px {
            background-color: transparent !important;
        }
        @include tablet-550px  {
            top: 10px !important;
            padding: 4px !important;
            width: 32px !important;
            height: 32px !important;
        }
      
        &::before {
            width: 32px;
            height: 32px;
            @include tablet-550px {
                width: 24px !important;
                height: 24px !important;
            }
        }
    }

    .slick-prev {
        position: absolute;
        right: 55px;
        transform: rotate(180deg);
        @include mobile {
            right: 40px;
        }
      
        
        &::before {
            content: url('../../public/images/svg/card-arrow__icon02.svg');
        }       
    }

    .slick-next {
        position: absolute; 
        right: 5px;
      
        &::before {
            content: url('../../public/images/svg/card-arrow__icon02.svg');
        }
    }
}

.title {
    font-family: SF Pro Display, sans-serif !important;
    color: #fff;
    transition: .2s linear;
    font-size: 24px;
    @include mobile-380px {
        font-size: 18px;
    }
}

.navigation__title {
    display: flex; 
    align-items: center; 
    width: auto;
    @include tablet-550px {
        margin-top: 8px;   
    }
    @include mobile-380px {
        margin-top: 8px;
    }
  
    svg {
        width: 24px;
        height: 24px;
        transition: .2s ease-in-out;
        @include mobile-380px {
            width: 18px;
            height: 18px;
        }

        path {
            transition: .2s linear;
        }
    }

    &:hover {
        .title {
            color: #5EB5F7FF;
        }

        svg {
            transform: translateX(10px);

            path {
                fill: #5EB5F7FF;
            }
        }    
    }
}

.Slider__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
    @include  mobile-330px {
        gap: 12px;
    }
}

.Slider__navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    @include mobile-330px {
        height: 100%;
    }
}

// Header slider 
.Header__slider__container {
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;    
    
    &:hover {
        .react-multiple-carousel__arrow--left {
            transform: translate(0%) scale(1);
        }

        .react-multiple-carousel__arrow--right {
            transform: translateX(0%) scale(1);
        }
    }
   
    .slider__card {
        width: 100%;
        border-radius: 10px;

        img {
            width: 100%;
            margin-left: .5px;
            border-radius: 10px;
            @include superBigDesktop {
                height: 260px;
            }
            @include desktop {
                width: 100%;
                height: auto;
            }
        }       
    }

   .react-multiple-carousel__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: #4845458d;
        padding: 0;
        z-index: 50;

        &::before {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
        }

        &:hover {
            background-color: #242323ae;
        }
    }

    .react-multiple-carousel__arrow--left {
        transform: translateX(-300%) scale(0);

        &::before {
            content: url('../../public/images/svg/card-arrow__icon02.svg');
            position: absolute;
            top: 40%;
            left: 40%;
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }

    .react-multiple-carousel__arrow--right {
        transform: translateX(300%) scale(0);
        
        &::before {
            position: absolute;
            top: 60%;
            left: 60%;
            transform: translate(-50%, -50%);
            content: url('../../public/images/svg/card-arrow__icon02.svg');
        }
    }

    .react-multiple-carousel__arrow {
        .react-multiple-carousel__arrow--right {
            display: none !important;
        }

        .react-multiple-carousel__arrow--left {
            display: none !important;
        }

        button {
            &::before {
                content: url('./images/svg/arrow__icon.svg') !important;
            }     
        }
    }

    .custom__list {
        margin-bottom: 25px;
        button {
            width: 5px;
            height: 5px;
            border-radius: 0;
            background-color: #554c4c !important;
            border: 0;
            padding: 0;
        }
    }

    .react-multi-carousel-dot--active {
        button {
            width: 5px;
            height: 5px;
            border-radius: 0;
            background-color: #fff !important;
            opacity: 1 !important;
            border: 0;
            transform: rotate(-30deg);
            padding: 0;
        }
    }
}

.slider__category {
    max-width: 401px;
    width: 100%;
    display: none;
    gap: 10px;
    @include superBigDesktop {
        display: flex;
    }
}

.slider__category__column {
    max-width: 264px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
        width: 100%;
        height: auto;
    }
}

.slider__category__row {
    max-width: 127px;
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.slider__card-bk {
    @include tablet-640px {
        display: none;
    }
}

.d-none {
    display: none;
    @include tablet-640px {
        display: block;
        padding: 0 3px;
    }
}