.Home__Sliders {
    margin-top: 48px;
}

.Sliders__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title {
    font-family: SF Pro Display, sans-serif !important;
    color: #fff;
    transition: .2s linear;
    font-size: 24px; 
}

.navigation__title {
    display: flex; 
    align-items: center; 
    width: auto;

    svg {
        width: 24px;
        height: 24px;
        transition: .2s ease-in-out;

        path {
            transition: .2s linear;
        }
    }

    &:hover {
        .title {
            color: #5EB5F7FF;
        }

        svg {
            transform: translateX(10px);

            path {
                fill: #5EB5F7FF;
            }
        }    
    }
}

.Slider__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;
}

.Slider__navigation {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 44px;
}

.variable-width {
    overflow: hidden !important; 

    .slick-arrow {
        border: 0;
        outline: 0;
        background-color: #17212B;
        color: transparent;
        width: 42px;
        height: 42px;
        border-radius: 10px;
        top: 0;
        overflow: hidden;
        padding: 8px;
        user-select: none;   

        &::before {
            width: 32px;
            height: 32px;
        }
    }

    .slick-prev {
        position: absolute;
        right: 55px;
        transform: rotate(180deg);
        
        &::before {
            content: url('../../public/images/svg/card-arrow__icon02.svg');
        }       
    }

    .slick-next {
        position: absolute; 
        right: 5px;

        &::before {
            content: url('../../public/images/svg/card-arrow__icon02.svg');
        }
    }
    
    .slick-list {
        .slick-track {
            // width: 100% !important;
            overflow: hidden !important;
            display: flex !important;
            gap: 16px;
        }
    }
}

// /// Header slider 
.Header__slider__container {
    width: 100%;
    display: flex;
    gap: 10px;
    position: relative;   
    
    &:hover {
        .react-multiple-carousel__arrow--left {
            transform: translate(0%) scale(1);
        }

        .react-multiple-carousel__arrow--right {
            transform: translateX(0%) scale(1);
        }
    }
   
    .slider__card {
        width: 100%;
        border-radius: 10px;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }

   .react-multiple-carousel__arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: #4845458d;
        padding: 0;

        &:hover {
            background-color: #242323ae;
        }
    }

    .react-multiple-carousel__arrow--left {
        transform: translateX(-300%) scale(0);

        &::before {
            content: url('./images/svg/arrow__icon.svg');
            transform: rotate(180deg);
        }
    }

    .react-multiple-carousel__arrow--right {
        transform: translateX(300%) scale(0);

        &::before {
            content: url('./images/svg/arrow__icon.svg') !important;
        }
    }

    .react-multiple-carousel__arrow {
        .react-multiple-carousel__arrow--right {
            display: none !important;
        }

        .react-multiple-carousel__arrow--left {
            display: none !important;
        }

        button {
            &::before {
                content: url('./images/svg/arrow__icon.svg') !important;
            }     
        }
    }

    .custom__list {
        margin-bottom: 25px;

        button {
            width: 5px;
            height: 5px;
            border-radius: 0;
            background-color: #554c4c !important;
            border: 0;
            padding: 0;
        }
    }

    .react-multi-carousel-dot--active {
        button {
            width: 5px;
            height: 5px;
            border-radius: 0;
            background-color: #fff !important;
            opacity: 1 !important;
            border: 0;
            transform: rotate(-30deg);
            padding: 0;
        }
    }
}

.slider__category {
    max-width: 401px;
    width: 100%;
    display: none;
    gap: 10px;
}

.slider__category__column {
    max-width: 264px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
        width: 100%;
        height: auto;
    }
}

.slider__category__row {
    max-width: 127px;
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}


.d-none {
    display: none;
}