@media screen and (min-width: 1560px) {
    .Header__slider__container {
        .slider__card {
            img {
                height: 260px;
            }
        }
    }

    .slider__category {
        display: flex !important;
    } 
}
@media screen and (max-width: 1290px) {
    .container__cards {
        justify-content: center;
        
        .Card {
            max-width: 150px;
            
            .card__image {
                width: 100%;
                height: auto;
            }
        }
    }

    .slider__card {
        img {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1120px) {
    #main {
        gap: 10px;
    }

    .VideoPlayer {
        .container {
            padding: 0 10px;
        }
    }

    .video__serials {
        padding: 10px !important;
        max-width: 130px !important;
        border: 1px solid #d00;
    }
}

@media screen and (max-width: 1024px) {
    .nav__list {
        max-width: 200px; 
    }

    main {
        gap: 20px;
    }

    .App__home {
        .container {
            padding: 0 10px 0 0px !important;
        }
    }
}

@media screen and (min-width: 768px) {
    .header__container--MAC {
        display: none !important;
    }

    .App__header {
        height: 88px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .test--block {
        bottom: 72px + 31px;
    }

    .VideoPlayer__column {
        flex-direction: column;
        justify-content: center;

        .about__image {
            width: 186px !important;
            margin: 0 auto;
        }
    }

    #videoPage {
        margin-top: 15px;
        height: 275px;
    }

    .video--animtion {
        margin-top: 15px;
        height: 275px;
    }

    #main {
        margin-bottom: 85px;
    }

    .App__header {
        height: 50px;
    }

    .MenuMobile {
        display: block;
    }

    .Home__Sliders {
        margin-top: 28px;
    }

    .header__box {
        padding: 0 !important;
    }

    .header__container--mobile {
        display: flex !important;
        gap: 0px; 
        align-items: center;
    }

    .header__container {
        display: none !important;
    }

    .App__nav, .header__btn {
      display: none;
    }

    .header__menu-toggle {
        gap: 20px;
        max-width: 125px;
    }

    .header__search {
        justify-content: end;
    }

    .search__input {
        width: 45px;
        height: 45px;
        padding: 0;
        gap: 0;
        justify-content: center;
        
        input {
            width: 0;
            &::placeholder {
                color: transparent;
            }
        }
    }

    .Search {
        margin-top: 15px;
        height: 100vh;
        background-color: #0E1621;
        z-index: -50;

        .card__title {
            font-size: 12px !important; 
        }
    }

    .MenuMobile {
        z-index: 200;
    }

    main {
        gap: 0px;
    }

    .App__home {
        .container {
            padding: 0 10px !important;
        }
    }

    .modal__container {
        top: 55%;
    }

    .video__serials {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .slider__card-bk {
        display: none !important;
    }

    .d-none {
        display: block !important;
    }

    .variable-width {
        .slick-list {
            .slick-track {
                overflow: visible !important;
                display: flex !important;
                gap: 16px;
            }
        }
    }

    .HeaderSlider {
        .slider {
            .slick-prev {
                top: 50% !important;
                left: 25px !important;
                transform: translateY(-50%) rotate(180deg) scale(1)  !important;   
            }
        
            .slick-next {  
                top: 50% !important; 
                right: 25px;
                transform: translateY(-50%) scale(1) !important;
            }
        }   
    }

    .modal__container {
        max-width: 500px;
    }

    .modal__btn {
        top: 20px;
    }

    .modal__container--active {
        top: 60%;
    }

    .modal__image {
        max-width: 500px;
        background-size: contain;
    }

    .modal__container {
        top: 60%;
    }
}

@media screen and (max-width: 550px) {
    .App__header {
        height: 45px !important; 
    }

    .header__box {
        padding: 10px;
    }

    .App__header {
        height: 62px;
        padding: 10px;
    }

    .HeaderSlider {
        margin-top: 6px;
    }

    .Home__Sliders {
        margin-top: 23px;
    }

    .Card {
        width: 120px;
        
        .card__image {
            width: 120px;
            height: 180px;
        }
    }
 
    .modal__container {
        max-width: 400px;
    }

    .modal__btn {
        top: 30px;
    }

    .modal__image {
        max-width: 450px;
    }

    .navigation__title {
        margin-top: 8px;
    }

    .slick-arrow {
        top: 10px !important;
        padding: 4px !important;
        width: 32px !important;
        height: 32px !important;

        &::before {
            width: 24px !important;
            height: 24px !important;
        }
    }

    .card__content {
        .card__title {
            margin-top: 4px;
            line-height: 100%;
        }
    }

    .VideoPlayer__videos {
        justify-content: center;
    }
}

@media screen and (max-width: 475px) {
    .HeaderSlider {
        .container {
            padding: 0 18px !important;
        }
    }

    .Home__Sliders {
        .container {
            padding: 0 0 0 18px !important;
        }
    }

    .variable-width {
        .slick-arrow {
            background-color: transparent;
        }   

        .slick-prev {
            right: 41px;    
        }
    }

    .modal__container {
        max-width: 300px;
    }

    .modal__btn {
        top: 40px;
    }

    .modal__image {
        max-width: 400px;
    }

    .modal__container {
        top: 63%;
    }

    .Home__Sliders {
        margin-top: 10px;
    }

    #videoPage {
        width: 100% !important;
        height: 203px;
    } 
    
    .video--animtion {
        width: 100%;
        height: 203px;
    }

    .VideoPlayer__title {
        h1 {
            font-size: 16px;
        }
    }

    .video__data-text {
        font-size: 12px;
        line-height: 12px;
    }

    .video__data-textMin {
        font-size: 10px;
        line-height: 1px;
    }

    .popularNow__body {
        gap: 5px;

        .popularNow__title {
            font-size: 20px;
        }
    }

    .container__cards {
        gap: 16px 7px;
        justify-content: space-between;

        .Card {
            max-width: 90px;
    
            .card__image {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .navigation__title {
        margin-top: 8px;

        h1 {
            font-size: 18px !important;
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .card__img {
        display: flex;
        align-items: center;

        h4 {
            font-size: 12px;
            font-weight: 400;
            line-height: 12px; /* 100% */
        }

        .card__icon {
            width: 16px;
            height: 16px;
        }
    }

    .Card {
        .card__title {
            font-size: 14px;
        }
    }

    .mobile__nav {
        a {
            max-width: 60px;
            height: 60px;
            padding: 5px;

            svg {
                width: 20px;
                height: auto;
            }

            h3 {
                font-size: 10px;
            }
        }
    }

    .modal__container {
        max-width: 250px;
    }

    .modal__btn {
        width: 18px;
        height: 18px;
        top: 60px;
        overflow: hidden;

        img {
            width: 18px;
            height: 18px;
        }
    }

    .modal__image {
        max-width: 300px;
    }

    .modal__container {
        top: 67%;
    }

    .container__cards {
        gap: 16px 7px;
        justify-content: space-between;

        .Card {
            max-width: 80px;
    
            .card__image {
                width: 100%;
                height: auto;
            }
        }
    }
}

///// slider__link__box

@media screen and (max-width: 330px) {
    .Slider__cards {
        gap: 12px;
    }

    .Home__Sliders {
        margin-top: 15px;
    }

    .Slider__navigation {
        height: 100%;
    }
}

@media screen and (max-width: 290px) {
    .slick-prev {
        right: 35px !important;
    }
}
